<div id="finder-toolbar">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <div class="mdl-layout-title logo">
                    <img src="~/Images/logo/logo.png" width="100" />
                </div>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    @*<a class="mdl-navigation__link" href="">Upload Blueprint</a>
                        <a class="mdl-navigation__link" href="">Save</a>*@

                    <button id="designer-floor-btn"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent designer-toolbar-button"
                            data-url="@Url.Action("Index", "Designer")">
                        <span>
                            <i class="material-icons">dashboard</i>
                        </span>
                        <span>Design Floor</span>
                    </button>
                </nav>
            </div>
        </header>

        <div class="mdl-layout__drawer">

        </div>
    </div>
</div>
