<div id="stage-container">
    <div id="stage-top"></div>
    <div id="stage">
        <img id="stage-bgnd" src=""/>
        <div id="stage-grid-bgnd"></div>
        <div id="stage-grid-live"></div>
        <div id="stage-items-container"></div>
        <!--
        <div id="stage-path-container"></div>
            -->

    </div>
    <div id="stage-bottom"></div>
</div>
