<div id="shapes-panel">
    <div id="shapes-box">
        <ul id="shapes-list" class="demo-list-two mdl-list ">
            <li class="mdl-list__item mdl-list__item--two-line shape-list-btn drag-element" name="shape-room-sqr-2x2"  draggable="true" data-shape-w="2" data-shape-h="2">
                <div class="shape-list-sml-bar"></div>
                    <div class="mdl-list__item-primary-content">
                        @*<i class="material-icons mdl-list__item-avatar">select_all</i>*@
                        <img class="shape-list-img-sml" src="~/Images/shapes/room_squa_2x2.png" />
                        <span class="mdl-list__item-sub-title shape-list-size">Size 2x2</span>
                        <span class="shape-list-title">Square Room</span>
                    </div>
            </li>
            <li class="mdl-list__item mdl-list__item--two-line shape-list-btn drag-element" name="shape-room-rct-3x2" draggable="true" data-shape-w="3" data-shape-h="2">
                <div class="shape-list-sml-bar"></div>
                    <div class="mdl-list__item-primary-content">
                        @*<i class="material-icons mdl-list__item-avatar">select_all</i>*@
                        <img class="shape-list-img-sml" src="~/Images/shapes/room_rect_3x2.png" />
                        <span class="mdl-list__item-sub-title shape-list-size">Size 3x2</span>
                        <span class="shape-list-title">Rectangle Room</span>
                    </div>
            </li>
            <li class="mdl-list__item mdl-list__item--two-line shape-list-btn drag-element" name="shape-room-sqr-3x3" draggable="true" data-shape-w="3" data-shape-h="3">
                <div class="shape-list-sml-bar"></div>
                    <div class="mdl-list__item-primary-content">
                        @*<i class="material-icons mdl-list__item-avatar">select_all</i>*@
                        <img class="shape-list-img-sml" src="~/Images/shapes/room_squa_3x3.png" />
                        <span class="mdl-list__item-sub-title shape-list-size">Size 3x3</span>
                        <span class="shape-list-title">Square Room</span>
                    </div>
            </li>
            <li class="mdl-list__item mdl-list__item--two-line shape-list-btn drag-element" name="shape-room-l-3x2" draggable="true" data-shape-w="3" data-shape-h="3">
                <div class="shape-list-sml-bar"></div>
                    <div class="mdl-list__item-primary-content">
                        @*<i class="material-icons mdl-list__item-avatar">select_all</i>*@
                        <img class="shape-list-img-sml" src="~/Images/shapes/room_lshape_3x3.png" />
                        <span class="mdl-list__item-sub-title shape-list-size">Size 3x2</span>
                        <span class="shape-list-title">L-Shape Room</span>
                </div>
            </li>
        </ul>
    </div>
</div>