#stage-container {
    @include clearFix;
    @include box-sizing(border-box);
    /*height: 100%;*/
    position: relative;
    z-index: 1;
    overflow-x: auto;
    overflow-y: auto;
    background-color: #eeeeee;
    /*margin-top: 64px;*/
    margin-left: 375px;

    #stage {
        background-color: white;
        @include box-shadow( 6px, 6px, 2px, 0px, rgba(50, 50, 50, 0.29));
        /*z-index:2;*/
        span {
            display: inline-block;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
        }

        #stage-grid-bgnd {
            /*position: relative;
                display: inline-block;
                z-index: 1;*/
            /*Generated dynamically by JS*/
            .stage-board-field-bgnd {
                /*Generated dynamically by JS*/
            }
        }

        #stage-grid-live {
            /*position: relative;
                display: inline-block;
                z-index: 2;*/
            /*Generated dynamically by JS*/
            .stage-board-field {
                /*Generated dynamically by JS*/
                .board-num {
                    /*Generated dynamically by JS*/
                }
            }
        }

        #stage-items-container {
            /*position: absolute !important;*/
            /*top: 0;
            left: 0;*/
            /*background-color:aqua;*/
        }
    }
}

.board-highlight-over {
    opacity: 0.3;
    background-color: $colorBlue;
}
