body {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /*overflow-y: hidden;
    overflow-x: hidden;*/ }
  body #app {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0; }

/*Sass START*/
/*Sass END*/
/*Designer Screen START*/
#designer-screen {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #eeeeee; }
  #designer-screen:before, #designer-screen:after {
    content: '';
    display: table; }
  #designer-screen:after {
    clear: both; }
  #designer-screen #designer-workspace {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*position: relative;
        display: block;
        top: 64px;*/
    width: 100%;
    height: 100%; }
    #designer-screen #designer-workspace:before, #designer-screen #designer-workspace:after {
      content: '';
      display: table; }
    #designer-screen #designer-workspace:after {
      clear: both; }

/*Toolbar START*/
#designer-toolbar {
  height: 64px; }

.mdl-layout__drawer {
  width: 500px;
  left: -250px; }

.mdl-layout__drawer.is-visible {
  left: 0; }

.mdl-slider__background-lower {
  background: black !important; }

.mdl-slider__background-upper {
  /*background: #000000 !important;*/ }

.mdl-layout__header-row .mdl-slider:active::-webkit-slider-thumb, .mdl-layout__header-row .mdl-slider::-webkit-slider-thumb {
  background: black !important; }

.mdl-layout__header-row .mdl-slider:active::-moz-range-thumb, .mdl-layout__header-row .mdl-slider::-moz-range-thumb {
  background: black !important; }

.mdl-layout__header-row .mdl-slider:active::-ms-thumb, .mdl-layout__header-row .mdl-slider::-ms-thumb {
  background: black !important; }

.mdl-layout__header-row .mdl-slider:active::-webkit-slider-thumb, .mdl-layout__header-row .mdl-slider::-webkit-slider-thumb {
  background: black !important; }

.mdl-layout__header-row .mdl-slider:active::-moz-range-thumb, .mdl-layout__header-row .mdl-slider::-moz-range-thumb {
  background: black !important; }

.mdl-layout__header-row .mdl-slider:active::-ms-thumb, .mdl-layout__header-row .mdl-slider::-ms-thumb {
  background: black !important; }

.designer-toolbar-group {
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.35);
  display: block;
  font-size: 16px;
  font-family: "Helvetica","Arial",sans-serif;
  margin: 0;
  width: 100%;
  background: 0 0;
  text-align: left;
  color: inherit; }

.designer-toolbar-form-group .mdl-textfield {
  width: 450px; }
  .designer-toolbar-form-group .mdl-textfield .mdl-textfield__label {
    color: #448aff; }
    .designer-toolbar-form-group .mdl-textfield .mdl-textfield__label:after {
      background-color: #448aff; }

.designer-toolbar-form-group .mdl-textfield__input {
  width: 450px; }

.designer-toolbar-form-group .mdl-textfield__label {
  width: 450px; }

.mdl-long-btn {
  width: 450px; }

.mdl-list-item-fixed {
  min-height: 32px;
  margin-left: 60px; }

.mdl-list__item {
  padding: 0; }

.mdl-list {
  padding: 0; }

.mdl-button-color-blue {
  color: #448aff; }

.designer-toolbar-button {
  text-transform: none;
  background-color: #ffeb3b;
  box-shadow: none;
  text-transform: none;
  min-width: 26px;
  min-height: 16px; }

.mdl-slider__container {
  position: relative;
  top: 6px;
  float: left;
  left: -10px; }

#zoom-floor-panel #zoom-out-floor-btn {
  display: inline-block;
  /* position: absolute; */
  /* top: 18px; */
  cursor: pointer;
  /* right: -20px; */
  /* padding: 0px !important; */
  /* border: none; */
  /* background: none; */
  /* outline: none; */
  float: left;
  /* left: -15px; */ }

#zoom-floor-panel #zoom-in-floor-btn {
  right: 0;
  position: relative;
  /* display: inline-block; */
  right: 20px;
  /* padding: 0px !important; */
  /* position: relative; */
  float: right;
  cursor: pointer; }

.designer-toolbar-button {
  background-color: #ffeb3b !important;
  color: black !important;
  box-shadow: none !important; }

.designer-toolbar-zoom-button {
  background-color: #ffeb3b !important;
  color: black !important;
  box-shadow: none !important;
  width: 30px !important;
  height: 30px !important;
  min-width: 26px !important;
  min-height: 26px !important; }

#floor-create-form {
  position: absolute; }
  #floor-create-form span {
    font-size: 14px;
    position: relative;
    top: -20px; }
  #floor-create-form .mdl-textfield {
    width: 50px;
    top: -20px; }
  #floor-create-form .floor-textfield {
    width: 50px; }
  #floor-create-form .mdl-textfield__label {
    font-size: 12px;
    color: #448aff; }
    #floor-create-form .mdl-textfield__label:after {
      background-color: #448aff; }

.mdl-list__item-primary-content .floor-edit-btn {
  cursor: pointer !important; }
  .mdl-list__item-primary-content .floor-edit-btn:hover {
    color: #448aff; }

.mdl-list-item-fixed {
  margin-left: 0px; }

@media screen and (max-width: 1024px) {
  .mdl-layout__header {
    min-height: 64px; } }

@media (min-width: 640px) {
  .mdl-grid {
    padding: 0 !important; } }

.mdl-cell {
  position: relative; }

@media (min-width: 640px) {
  .mdl-cell {
    margin: 0px !important; } }

/*Toolbar END*/
#floors-list .floor-list-item {
  margin: 0 25px 0 25px; }

#floor-create .mdl-list__item-primary-content {
  padding: 0 25px 0 25px !important; }

#floor-create .mdl-list__item-secondary-content {
  padding: 0 25px 0 25px !important; }

#search-panel-form-result {
  padding: 0 25px 0 25px !important; }

#shapes-panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 375px;
  /*height: 100%;*/
  z-index: 3;
  overflow-y: auto;
  /*padding-left: 1em;*/
  /*margin-top: 64px;*/
  background-color: white;
  border-right: solid 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 0px 2px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 2px 0px 2px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 2px 0px 2px 0px rgba(50, 50, 50, 0.3); }
  #shapes-panel:before, #shapes-panel:after {
    content: '';
    display: table; }
  #shapes-panel:after {
    clear: both; }
  #shapes-panel #shapes-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    #shapes-panel #shapes-box:before, #shapes-panel #shapes-box:after {
      content: '';
      display: table; }
    #shapes-panel #shapes-box:after {
      clear: both; }
    #shapes-panel #shapes-box .mdl-list__item-primary-content {
      margin-left: 15px; }
    #shapes-panel #shapes-box #shapes-list .shape-list-size {
      display: inline-block; }
    #shapes-panel #shapes-box #shapes-list .shape-list-title {
      padding-left: 10px; }
    #shapes-panel #shapes-box #shapes-list .shape-list-sml-bar {
      width: 5px;
      background-color: #448aff;
      height: 100%;
      display: inline-block; }
    #shapes-panel #shapes-box #shapes-list img {
      display: inline-block;
      width: 40px !important;
      /*right: 10px;
                position: absolute;
                top: 10px;*/ }
    #shapes-panel #shapes-box #shapes-list .shape-list-btn {
      /*padding-left: 10px;*/
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      cursor: move; }

#stage-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*height: 100%;*/
  position: relative;
  z-index: 1;
  overflow-x: auto;
  overflow-y: auto;
  background-color: #eeeeee;
  /*margin-top: 64px;*/
  margin-left: 375px; }
  #stage-container:before, #stage-container:after {
    content: '';
    display: table; }
  #stage-container:after {
    clear: both; }
  #stage-container #stage {
    /*width: 620px;*/
    /*height: 600px;*/
    /*margin: auto;*/
    /*top: 0;
        right: 0;
        bottom: 0;
        left: 0;*/
    background-color: white;
    -webkit-box-shadow: 6px 6px 2px 0px rgba(50, 50, 50, 0.29);
    -moz-box-shadow: 6px 6px 2px 0px rgba(50, 50, 50, 0.29);
    box-shadow: 6px 6px 2px 0px rgba(50, 50, 50, 0.29);
    /*z-index:2;*/ }
    #stage-container #stage span {
      display: inline-block; }
    #stage-container #stage img {
      position: absolute;
      top: 0;
      left: 0; }
    #stage-container #stage #stage-grid-bgnd {
      /*position: relative;
                display: inline-block;
                z-index: 1;*/
      /*Generated dynamically by JS*/ }
      #stage-container #stage #stage-grid-bgnd .stage-board-field-bgnd {
        /*Generated dynamically by JS*/ }
    #stage-container #stage #stage-grid-live {
      /*position: relative;
                display: inline-block;
                z-index: 2;*/
      /*Generated dynamically by JS*/ }
      #stage-container #stage #stage-grid-live .stage-board-field {
        /*Generated dynamically by JS*/ }
        #stage-container #stage #stage-grid-live .stage-board-field .board-num {
          /*Generated dynamically by JS*/ }
    #stage-container #stage #stage-items-container {
      /*position: absolute !important;*/
      /*top: 0;
            left: 0;*/
      /*background-color:aqua;*/ }

.board-highlight-over {
  opacity: 0.3;
  background-color: #448aff; }

#stage-items-container .item-box {
  /*background-color:blue !important;*/ }
  #stage-items-container .item-box.item-selected .item-bgnd.shape-room-sqr-2x2, #stage-items-container .item-box.item-selected .item-bgnd.shape-room-rct-3x2, #stage-items-container .item-box.item-selected .item-bgnd.shape-room-sqr-3x3 {
    border: 4px solid #448aff;
    background-color: white; }
  #stage-items-container .item-box.item-selected .item-bgnd.shape-room-l-3x2 .l-shape-top {
    position: absolute;
    z-index: 2;
    right: 0;
    border-top: 4px solid #448aff;
    border-right: 4px solid #448aff;
    border-bottom: 4px solid #448aff;
    background-color: white; }
  #stage-items-container .item-box.item-selected .item-bgnd.shape-room-l-3x2 .l-shape-bottom {
    border: 4px solid #448aff;
    background-color: white; }
  #stage-items-container .item-box.item-selected .shape-button.shape-rotate-btn .shape-rotate-inv-icon {
    background-color: #448aff; }
  #stage-items-container .item-box.item-selected .shape-button.shape-drag-btn .shape-drag-inv-icon {
    background-color: #448aff; }
  #stage-items-container .item-box.item-selected .shape-button.shape-delete-btn .shape-delete-inv-icon {
    background-color: #448aff; }
  #stage-items-container .item-box.item-selected .shape-button.shape-resize-btn .shape-resize-inv-icon {
    background-color: #448aff; }
  #stage-items-container .item-box .item-bgnd.shape-room-sqr-2x2, #stage-items-container .item-box .item-bgnd.shape-room-rct-3x2, #stage-items-container .item-box .item-bgnd.shape-room-sqr-3x3 {
    border: 4px solid #444444;
    background-color: white; }
  #stage-items-container .item-box .item-bgnd.shape-room-l-3x2 .l-shape-top {
    position: absolute;
    z-index: 2;
    right: 0;
    border-top: 4px solid #444444;
    border-right: 4px solid #444444;
    border-bottom: 4px solid #444444;
    background-color: white; }
  #stage-items-container .item-box .item-bgnd.shape-room-l-3x2 .l-shape-bottom {
    border: 4px solid #444444;
    background-color: white; }
  #stage-items-container .item-box .shape-button {
    -webkit-box-sizing: box;
    -moz-box-sizing: box;
    box-sizing: box;
    position: absolute;
    width: 26px;
    height: 26px;
    z-index: 30; }
    #stage-items-container .item-box .shape-button.shape-rotate-btn {
      top: -12px;
      left: -12px;
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab; }
      #stage-items-container .item-box .shape-button.shape-rotate-btn .shape-rotate-inv-btn {
        /* position: relative; */
        width: 26px;
        height: 26px;
        /*background-color: red;*/
        -webkit-border-radius: 50% 50%;
        border-radius: 50% 50%;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */
        /* display: inline-block; */ }
      #stage-items-container .item-box .shape-button.shape-rotate-btn .shape-rotate-inv-icon {
        position: absolute;
        /* display: inline-block; */
        top: 0;
        color: white;
        background-color: #444444;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */ }
        #stage-items-container .item-box .shape-button.shape-rotate-btn .shape-rotate-inv-icon:hover {
          background-color: #ffeb3b; }
    #stage-items-container .item-box .shape-button.shape-drag-btn {
      bottom: -12px;
      left: -12px;
      cursor: move; }
      #stage-items-container .item-box .shape-button.shape-drag-btn .shape-drag-inv-btn {
        /* position: relative; */
        width: 26px;
        height: 26px;
        /*background-color: red;*/
        -webkit-border-radius: 50% 50%;
        border-radius: 50% 50%;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */
        /* display: inline-block; */ }
      #stage-items-container .item-box .shape-button.shape-drag-btn .shape-drag-inv-icon {
        position: absolute;
        /* display: inline-block; */
        top: 0;
        color: white;
        background-color: #444444;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */ }
        #stage-items-container .item-box .shape-button.shape-drag-btn .shape-drag-inv-icon:hover {
          background-color: #ffeb3b; }
    #stage-items-container .item-box .shape-button.shape-delete-btn {
      top: -12px;
      right: -12px;
      cursor: pointer; }
      #stage-items-container .item-box .shape-button.shape-delete-btn .shape-delete-inv-btn {
        /* position: relative; */
        width: 26px;
        height: 26px;
        /*background-color: red;*/
        -webkit-border-radius: 50% 50%;
        border-radius: 50% 50%;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */
        /* display: inline-block; */ }
      #stage-items-container .item-box .shape-button.shape-delete-btn .shape-delete-inv-icon {
        position: absolute;
        /* display: inline-block; */
        top: 0;
        color: white;
        background-color: #444444;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */ }
        #stage-items-container .item-box .shape-button.shape-delete-btn .shape-delete-inv-icon:hover {
          background-color: red; }
    #stage-items-container .item-box .shape-button.shape-resize-btn {
      position: absolute;
      bottom: -12px;
      right: -12px;
      cursor: nw-resize !important;
      /*display: none;*/ }
      #stage-items-container .item-box .shape-button.shape-resize-btn .shape-resize-inv-btn {
        /* position: relative; */
        width: 26px;
        height: 26px;
        /*background-color: red;*/
        /*z-index: 9;*/
        -webkit-border-radius: 50% 50%;
        border-radius: 50% 50%;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */
        /* display: inline-block; */ }
      #stage-items-container .item-box .shape-button.shape-resize-btn .shape-resize-inv-icon {
        position: absolute;
        /* display: inline-block; */
        top: 0;
        z-index: 0;
        color: white;
        background-color: #444444;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */ }
        #stage-items-container .item-box .shape-button.shape-resize-btn .shape-resize-inv-icon:hover {
          background-color: #ffeb3b; }
  #stage-items-container .item-box .hidden {
    visibility: visible; }

/*Designer Screen END*/

