#shapes-panel {
    @include clearFix;
    @include box-sizing(border-box);
    position: absolute;
    width: 375px;
    /*height: 100%;*/
    z-index: 3;
    overflow-y: auto;
    /*padding-left: 1em;*/
    /*margin-top: 64px;*/
    background-color: white;
    border-right: solid 1px rgba(0,0,0,0.3);
    @include box-shadow(2px, 0px, 2px, 0px, rgba(50, 50, 50, 0.3));

    #shapes-box {
        @include clearFix;
        @include box-sizing(border-box);

        .mdl-list__item-primary-content {
            margin-left: 15px;
        }

        .shape-list-btn {
            /*padding-left: 10px;*/
            border-bottom: 1px solid rgba(0,0,0,0.3);
            cursor: move;
        }

        .shape-list-img-sml {
            display: inline-block;
            width: 40px;
            /*right: 10px;
            position: absolute;
            top: 10px;*/
        }

        .shape-list-size {
            display: inline-block;
        }

        .shape-list-title {
            padding-left: 10px;
        }

        .shape-list-sml-bar {
            width: 5px;
            background-color: rgb(68,138,255);
            height: 100%;
            display: inline-block;
        }
    }
}
